@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
  --font-syne: "Syne", sans-serif;
  --font-brand: var(--font-rousie), sans-serif;
  --font-header: "Syne", sans-serif;
  --font-body: "Stack Sans Text", sans-serif;

  --breakpoint-3xl: 120rem;

  --color-brand-pink: #E04343;
  --color-brand-cream: #F7F5F0;
  --color-brand-black: #1C1F1E;
}