@import url('https://googleapis.com');
@import "tailwindcss";

@theme {
  --font-syne: "Syne", sans-serif;
  --font-body: "Stack Sans Text", sans-serif;

  --color-brand-pink: #E04343;
  --color-brand-cream: #F7F5F0;
  --color-brand-black: #1C1F1E;
}